<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>会員詳細情報 | SocymSlimMVC</title>
	</head>
	<body>
		<header>
			<h1>会員詳細情報</h1>
		</header>
		<section>
			{% if msg %}
			<p>{{msg}}</p>
			{% else %}
			<dl>
				<dt>ID</dt>
				<dd>{{memberInfo.id}}</dd>
				<dt>氏名</dt>
				<dd>{{memberInfo.mbNameLast}}&nbsp;{{memberInfo.mbNameFirst}}</dd>
				<dt>生年月日</dt>
				<dd>{{memberInfo.mbBirth}}</dd>
				<dt>会員種類</dt>
				<dd>{{memberInfo.mbType}}</dd>
			</dl>
			{# <form>
				<input type="hidden" name="" value="">
				この会員情報を<button type="submit">編集</button>
			</form>
			<form>
				<input type="hidden" name="" value="">
				この会員情報を<button type="submit">削除</button>
			</form> #}
			{% endif %}
		</section>
	</body>
</html>
