<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>会員情報削除確認 | SocymSlimMVC</title>
	</head>
	<body>
		<header>
			<h1>会員情報削除確認</h1>
		</header>
		<section>
			{% if msg %}
			<p>{{msg}}</p>
			{% else %}
			<p>
				以下の会員情報を削除します。この操作は取り消せません。<br>
				よろしければ、削除ボタンをクリックしてください。
			</p>
			<dl>
				<dt>会員ID</dt>
				<dd>{{memberInfo.id}}</dd>
				<dt>氏名</dt>
				<dd>{{memberInfo.mbNameFull}}</dd>
			</dl>
			<form action="/memberDelete" method="POST">
				<input type="hidden" name="mbId" value="{{memberInfo.id}}">
				<button type="submit">削除</button>
			</form>
			{% endif %}
		</section>
		<section>
			<a href="/showMemberDetail/{{memberInfo.id}}">詳細へ戻る</a>
		</section>
	</body>
</html>
