<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>会員情報編集 | SocymSlimMVC</title>
	</head>
	<body>
		<header>
			<h1>会員情報編集</h1>
		</header>
		<section>
			<p>
				情報を入力し、更新ボタンをクリックしてください。
			</p>
			<form action="/memberEdit" method="post">
				会員ID&nbsp;{{memberInfo.id}}<br>
				<input type="hidden" name="editMbId" value="">
				<label for="editMbNameLast">
					氏名(姓)&nbsp;
					<input type="text" id="editMbNameLast" name="editMbNameLast" value="{{memberInfo.mbNameLast}}" required>
				</label><br>
				<label for="editMbNameFirst">
					氏名(名)&nbsp;
					<input type="text" id="editMbNameFirst" name="editMbNameFirst" value="{{memberInfo.mbNameFirst}}" required>
				</label><br>
				<label for="editMbBirth">
					生年月日
					<input type="date" id="editMbBirth" name="editMbBirth" value="{{memberInfo.mbBirth}}">
				</label><br>
				<label for="editMbType">
					会員種類
					<select name="editMbType" id="editMbType" required>
						<option value="">選択してください</option>
						{% if memberInfo.mbType == 1 %}
						<option value="1" selected>一般会員</option>
						{% else %}
						<option value="1">一般会員</option>
						{% endif %}
						{% if memberInfo.mbType == 2 %}
						<option value="2" selected>優良会員</option>
						{% else %}
						<option value="2">優良会員</option>
						{% endif %}
						{% if memberInfo.mbType == 3 %}
						<option value="3" selected>特別会員</option>
						{% else %}
						<option value="3">特別会員</option>
						{% endif %}
					</select>
				</label><br>
				<button type="submit">更新</button>
			</form>
		</section>
	</body>
</html>
